# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Dependencias de Node
node_modules/
npm-debug.log

# Variables de entorno (¡NUNCA versionar contraseñas!)
.env
.env.local

# Archivos de configuración local del editor
.vscode/settings.json

# Archivos compilados
dist/
build/
